@use "../base/tipografia";
@use"../utilities/variables";
@import "../utilities/mixins";



//history and trailer
.sinopsis-residentevil {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid white;
    margin: 0;


    div {
        margin: 40px;
        width: 600px;
        @include border;
        padding: 20px;

        p {
            @include flex(row, center, center);
            margin: 10px;
            padding: 10x;
            font-size: 20px;
            color: white;
        }

        iframe {
            @include flex(row, center, center);
            margin: 10px;
            padding: 30px;
        }
    }

}

//TRAMA
.trama {
    display: flex;
    width: auto;
    height: 200px;
    margin: 10px;

    .box1 {
        margin: 0;
        width: auto;
        height: 200px;
        display: flex;
        flex-direction: column;

        p {
            margin: 10px;
        }



    }

    .box2 {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 200px;
        margin-bottom: 15px;


        img {
            margin: 10px;
            width: 200px;
            @include border;


        }

        p {
            margin: 0px 5px 10px 5px;

            font-size: 12px;
        }
    }
}

.final {
    @include flex(column, center, center);

    .box2 {
        @include border;
        margin-bottom: 15px;

        img {
            width: 400px;
        }

        p {
            @include flex(column, center, center);

        }
    }
}

//carrusel personajes
.persoajes-index {
    @include flex(column, center, center);

    h2 {
        font-size: 80px;
        margin: 10px;
    }

    div {
        display: flex;
        width: 800px;
        height: 630px;
        @include border;
        img {
            width: 0;
            flex-grow: 1;
            object-fit: cover;
            opacity: 0.8;
            transition: 0.5s ease;

            &:hover {
                cursor: crosshair;
                width: 250px;
                opacity: 1;
                filter: contrast(120%);

            }




        }
    }

    .buton {
        @include button;
        font-size: 50px;
        margin: 20px;
    }

}