@use "../../base/tipografia";
@use "../../utilities/variables";
@import "../../utilities/mixins";


h1 {
    @include flex(row, center, center);
    font-family: "DM Serif Text", serif;
    font-weight: bold;
}

.jill {
    @include flex(row, flex-start, center);
    @include border;

    .jill-personajes {
        h2 {
            @include flex(row, center, center);

        }

        article {
            position: relative;
            width: 250px;
            transition: all 0.3s ease;

            img:first-child {
                box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
                border-radius: 4px;
                object-fit: cover;
                width: 100%;
            }

            img:last-child {
                position: absolute;
                width: 240px;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                transform: translateY(25%);
                transition: 0.3s ease;
                opacity: 0;
                background-image: linear-gradient(to bottom,
                        transparent 10%,
                        rgba(0, 0, 0, 0.5) 50%,
                        rgba(0, 0, 0) 95%);
            }

            &:hover {
                transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);

                img:last-child {
                    opacity: 1;
                    transform: translateY(10%);
                }
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                height: 100%;
                width: 100%;
                background-image: linear-gradient(to bottom,
                        transparent 10%,
                        rgba(0, 0, 0, 0.5) 50%,
                        rgba(0, 0, 0) 95%);
                opacity: 0;
                transition: all 0.3s ease;
            }

            &:hover::before {
                opacity: 1;
            }
        }
    }
  

    div {
        margin: 10px;

        h2 {
            @include flex(row, flex-start, center);
        }

        details {

            summary {
                font-size: 30px;
            }
            a{
                @include button;

            }

        }

    }

}
  .jill:nth-of-type(2){
        .jill-personajes{
            article{
                img:last-child{
                    width: 270px
                }
            }
        }
    }
      .jill:nth-of-type(3){
        .jill-personajes{
            article{
                img:last-child{
                    width: 200px
                }
            }
        }
    }