@use "../../utilities/variables";
@import "../../utilities/mixins";

.img-up-re {
    background-image: url(../assets/caratulas/residentevilassets/residentevilmansion.png);
    background-size: cover;
    border: 2px solid white;



    .img-title-re {
        @include flex(row, center, center);
        justify-self: center;
        width: 700px;
    }

    .grid-top-site {
        margin: 80px 300px;
        border-radius: 8px;
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "buton-jill jill-img chris-img buton-chris"
            "buton-jill jill-img chris-img buton-chris"
            "buton-jill jill-img chris-img buton-chris"
            "buton-jill jill-img chris-img buton-chris";
    }

    .img-top-chris {
        grid-area: chris-img;
        width: 300px;
        height: 400px;
        mask-image: linear-gradient(black 80%, transparent);
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);

    }

    .img-top-jill {
        grid-area: jill-img;
        width: 300px;
        height: 400px;
        mask-image: linear-gradient(black 80%, transparent);
         box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
    }

    .buton-jill {
        grid-area: buton-jill;
        width: 150px;
        height: 50px;
        @include flex(column-reverse, center, center);
        align-self: center;
        text-decoration: none;
        background-color: black;
        color: white;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        z-index: 1;
        border-radius: 12px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,
                    #7f6a4b, #cac9aa, #55432f, #b48b3d, #999572, #bda666, #625d49, #3e2d1d);
            background-size: 800%;
            border-radius: 10px;
            filter: blur(8px);
            animation: glowing 20s linear infinite
        }
    }


    .buton-chris {
        grid-area: buton-chris;
        width: 150px;
        height: 50px;
        @include flex(column-reverse, center, center);
        align-self: center;
        text-decoration: none;
        background-color: black;
        color: white;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        z-index: 1;
        border-radius: 12px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,
                    #7f6a4b, #cac9aa, #55432f, #b48b3d, #999572, #bda666, #625d49, #3e2d1d);
            background-size: 800%;
            border-radius: 10px;
            filter: blur(8px);
            animation: glowing 20s linear infinite
        }
    }
}





@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}