@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nosifer&family=Readex+Pro:wght@160..700&family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nosifer&family=Passion+One:wght@400;700;900&family=Readex+Pro:wght@160..700&family=Rubik+Wet+Paint&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
  font-family: "Rubik Wet Paint", system-ui;
}

h3 {
  color: white;
}

p {
  color: white;
}

header {
  background-image: url(../assets/logos/brazo.png);
  background-size: cover;
  background-position: center;
}
header .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .logo img {
  width: 200px;
}
header nav {
  background-color: black;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 20px;
}
header nav .navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav .nav-style-propio {
  color: white;
}
header nav .nav-style-propio:hover {
  color: #9b1604;
}

.index-games {
  margin: 10px;
}
.index-games .img-sagas {
  margin: 16px 300px;
  display: grid;
  border: 2px solid white;
  border-radius: 8px;
  background-color: black;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr;
  grid-template-areas: "nombre sinopsis sinopsis" "img parrafo parrafo" "img boton boton";
}
.index-games .img-sagas h2 {
  color: #9b1604;
  font-family: "Anton", sans-serif;
}
.index-games .nombre-game {
  grid-area: nombre;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #9b1604;
}
.index-games .img-games {
  grid-area: img;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  text-align: center;
}
.index-games .sipnopsis-title {
  grid-area: sinopsis;
  font-size: 60px;
  border: 2px solid #9b1604;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
}
.index-games .parrafo-sip {
  margin: 20px;
  grid-area: parrafo;
  font-size: 30px;
}
.index-games .boton {
  grid-area: boton;
  margin: 20px;
  padding: 80px;
  background-image: url(../assets/logos/manoboton.png);
  background-position: center;
  background-size: cover;
  border: 5px solid rgb(26, 51, 18);
  text-align: center;
  text-decoration: none;
  font-family: "Nosifer", sans-serif;
  font-size: 80px;
  color: rgb(26, 51, 18);
}
.index-games .boton:hover {
  color: #9b1604;
}

@media (max-width: 430px) {
  .img-sagas {
    margin: 10px;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: 30px 0.5fr 30px 0.5fr;
    grid-template-areas: "nombre nombre" "img img" "sipnopsis sipnopsis" "parrafo parrafo" "boton boton";
  }
  .nombre-game {
    font-size: 20px;
    padding: 10px;
  }
  .sipnopsis-title {
    font-size: 20px;
  }
  .parrafo-sip {
    font-size: 20px;
    margin: 5px;
  }
  .boton {
    border: 2px solid rgb(26, 51, 18);
    padding: 10px;
    font-size: 40px;
    margin: 5px;
  }
}
body {
  background-color: rgb(24, 24, 24);
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #9b1604;
}

/*# sourceMappingURL=styles.css.map */
